[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nstolyarenko
[access "refs/for/refs/*"]
	read = group user/nstolyarenko
	push = group user/nstolyarenko
	label-Code-Review = -2..+2 group user/nstolyarenko
	label-Verified = -1..+1 group user/nstolyarenko
	rebase = group user/nstolyarenko
	removeReviewer = group user/nstolyarenko
	submit = group user/nstolyarenko
[access "refs/heads/*"]
	read = group user/nstolyarenko
	create = group user/nstolyarenko
	push = +force group user/nstolyarenko
	pushMerge = group user/nstolyarenko
[access "refs/tags/*"]
	push = +force group user/nstolyarenko
	pushTag = group user/nstolyarenko
	pushSignedTag = group user/nstolyarenko
